@charset "utf-8";
@front: #333;
@back: #fff;

.icon {
    display: inline-block;
    position: relative;
    color: @front;
    &:before, &:after {
        position: absolute;
        content: '';
    } 
}

.icon-like {
    width: 0;
    height: 0;
    margin: 0.05em 0.18em 0.17em 0.04em;
    border: 0.07em solid;
    border-radius: 50%;
    box-shadow: 0.14em 0 0;
    &:before {
        right: -0.07em;
        width: 0;
        height: 0;
        border: solid;
        border-width: 0.09em 0.07em;
        border-radius: 0 0 0 100%;
        transform: skew(0deg,10deg);
    }
    &:after {
        left: 0.07em;
        width: 0;
        height: 0;
        border: solid;
        border-width: 0.09em 0.07em;
        border-radius: 0 0 100% 0;
        transform: skew(0deg,-10deg);
    }
}

.icons-v {
    width: 0.28em;
    height: 0.28em;
    overflow: hidden;
    margin: 0.08em 0.04em 0 0.04em;
    &:before {
        width: 0.05em;
        height: 0.04em;
        box-shadow: inset 0 0 0 0.10em, 0.04em 0 0, 0.23em 0 0;
    }
    &:after {
        top: 0.12em;
        left: 0.14em;
        width: 0.02em;
        height: 0.07em;
        transform: skew(-30deg,60deg);
        box-shadow: inset 0 0 0 0.32em, -0.02em 0 0, -0.04em 0 0, -0.06em 0 0, -0.08em 0 0, 0 -0.07em 0, 0 -0.14em;
    }
}
.icon-v {
    width: 0.28em;
    height: 0.24em;
    border-top: 0.04em solid;
    margin: 0.04em;
    &:before {
        top: -0.03em;
        left: 0.01em;
        border-style: solid;
        border-width: 0.22em 0.13em;
        border-color: @front transparent transparent transparent;
    }
    &:after {
        top: -0.05em;
        left: 0.08em;
        border-style: solid;
        border-width: 0.13em 0.08em;
        border-color: @back transparent transparent transparent;
    }
}

.icon-book {
    width: 0.21em;
    height: 0.02em;
    margin: 0.05em 0.07em 0.04em 0.06em;
    border-style: solid;
    border-width: 0.01em 0.01em 0.24em 0.01em;
    border-color: @front;
    border-radius: 0.02em;
    &:before {
        width: 0.01em;
        height: 0.01em;
        top: 0.02em;
        left: 0.02em;
        color: @back;
        box-shadow: inset 0 0 0 0.01em, -0.01em 0, -0.02em 0, 0.01em 0,0.02em 0,0.03em 0,0.04em 0,0.05em 0,0.06em 0,0.07em 0,0.08em 0,0.14em 0,0.15em 0,0.16em 0,0.17em 0,0.18em 0,0.19em 0,0.19em -0.01em,0.19em -0.02em, 0 0.01em,0 0.02em,0 0.03em,0 0.04em,0 0.05em,0 0.06em,0 0.07em,0 0.08em,0 0.09em,0 0.10em,0 0.11em,0 0.12em,0 0.13em,0 0.14em,0 0.15em,0 0.16em,0 0.17em,0 0.18em,0 0.19em,0 0.20em,0 0.21em,0 0.22em,0 0.23em, 0.08em 0.01em,0.08em 0.02em,0.08em 0.03em,0.08em 0.04em,0.08em 0.05em,0.08em 0.06em,0.08em 0.07em,0.08em 0.08em, 0.14em 0.01em,0.14em 0.02em,0.14em 0.03em,0.14em 0.04em,0.14em 0.05em,0.14em 0.06em,0.14em 0.07em,0.14em 0.08em;
    }
    &:after {
        width: 0.01em;
        height: 0.01em;
        top: 0.08em;
        left: 0.13em;
        color: @back;
        transform: rotate(45deg);
        box-shadow: inset 0 0 0 0.02em,0 0.01em,0 0.02em,0 0.03em,0 0.04em,0.01em 0,0.02em 0,0.03em 0,0.04em 0;
    }
}

.icon-book2 {
    margin: 0.05em 0.09em 0.07em 0.08em;
    width: 0.18em;
    height: 0.23em;
    border-right: 0.01em solid transparent;
    border-bottom: 0.01em solid transparent;
    border-radius: 0 0 0 0.02em;
    box-shadow: inset 0 0 0 0.30em, 0 0.01em 0 0.02em, -0.01em -0.02em 0 0, -0.02em -0.02em 0 0;
    &:before {
        width: 0.04em;
        height: 0.02em;
        top: 0.02em;
        left: -0.04em;
        border-radius: 0.01em;
        box-shadow: inset 0 0 0 0.04em, 0 0 0 0.01em @back, 0 0.07em 0 0, 0 0.07em 0 0.01em @back, 0 0.14em 0 0, 0 0.14em 0 0.01em @back;
    }
    &:after {
        top: 0.07em;
        left: 0.05em;
        width: 0.09em;
        height: 0.02em;
        border-top: 0.01em solid @front;
        border-bottom: 0.01em solid @front;
        box-shadow: inset 0 0 0 0.10em @back, 0 0 0 0.02em @back;
    }
}
.icon-help {
    margin: 0.08em 0.12em 0.16em 0.12em;
    width: 0.06em;
    height: 0.06em;
    border: 0.03em solid;
    border-color: @back @back @back @front;
    border-radius: 50%;
    box-shadow: inset 0 0 0 0.10em, -0.03em 0.03em 0 0.08em;
    transform: rotate(-45deg);
    &:before {
        width: 0.04em;
        height: 0.04em;
        top: 0.10em;
        right: 0.10em;
        border-radius: 50%;
        box-shadow: inset 0 0 0 0.10em @back;
    }
    &:after {
        width: 0.03em;
        height: 0.06em;
        top: 0.05em;
        right: 0.06em;
        border-radius: 0.02em;
        box-shadow: inset 0 0 0 0.10em #fff;
        transform: rotate(45deg);
    }
}

.icon-v2 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0.11em 0.12em 0.05em 0.12em;
    border-color: @front transparent transparent transparent;
    box-shadow: 0 -0.16em 0 0;
    &:before {
        width: 0.19em;
        height: 0.02em;
        top: -0.22em;
        left: -0.09em;
        overflow: hidden;
        box-shadow: inset -0.04em 0 0 -0.01em @back, inset 0.07em 0 0 -0.01em @back;
    }
    &:after {
        width: 0;
        height: 0;
        border: 0.10em solid transparent;
        box-shadow: inset 0 0 0 0.01em;
    }
}

.icon-share {
    margin: 0.08em 0.06em;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0.10em 0.24em 0.10em 0;
    border-color: transparent @front transparent transparent;
    &:before {
        width: 0;
        height: 0;
        top: -0.07em;
        left: 0.07em;
        border-style: solid;
        border-width: 0.07em 0.17em 0.07em 0;
        border-color: transparent @back transparent transparent;
    }
    &:after {
        width: 0.09em;
        height: 0.09em;
        top: -0.04em;
        left: 0;
        border-radius: 50%;
        box-shadow: inset 0 0 0 0.09em, 0.18em -0.08em 0 0, 0.18em 0.08em 0 0;
    }
}

.icon-home {
    margin: 0.19em 0.08em 0.05em 0.08em;  
    width: 0.04em;
    height: 0.07em;
    border-style: solid;
    border-width: 0.05em 0.08em 0 0.08em;
    border-color: @front;
    &:before {
        width: 0;
        height: 0;
        top: -0.35em;
        left: -0.13em;
        border: 0.15em solid;
        border-color: transparent transparent @front transparent;
    }
    &:after {
        width: 0.04em;
        height: 0.10em;
        top: -0.16em;
        left: 0.08em;
        box-shadow: inset 0 0 0 0.10em;
    }
}
.icon-mail {
    margin: 0.08em 0.03em 0.09em 0.04em;    
    width: 0.29em;
    height: 0.19em;
    overflow: hidden;
    background: @back;
    &:before {
        top: 0.04em;
        left: -0.08em;
        width: 0.14em;
        height: 0.14em;
        transform: scaleY(0.8) rotate(45deg);
        box-shadow: inset 0 0 0 0.10em, 0.15em 0 0 0, 0.22em -0.07em 0 0, 0.22em -0.22em 0 0, 0 -0.22em 0 0.07em;
    }
}
.icon-fullscreen {
    margin: 0.04em 0.23em 0.23em 0.04em;
    width: 0.09em;
    height: 0.09em;
    border-radius: 0.02em;
    box-shadow: inset 0 0 0 0.09em, 0.19em 0 0 0, 0.19em 0.19em 0 0, 0 0.19em 0 0;
    &:before {
        width: 0.22em;
        height: 0.22em;
        top: 0.03em;
        left: 0.03em;
        box-shadow: inset 0 0 0 0.22em;
    }
    &:after {
        width: 0.08em;
        height: 0.08em;
        top: 0.10em;
        left: 0.10em;
        transform: rotate(45deg);
        box-shadow: inset 0 0 0 0.10em @back, 0.07em 0.07em 0 0.01em @back, -0.07em 0.07em 0 0.01em @back, 0.07em -0.07em 0 0.01em @back, -0.07em -0.07em 0 0.01em @back;
    }
}

.icon-smallscreen {
    margin: 0.07em 0.20em 0.20em 0.07em;
    width: 0.09em;
    height: 0.09em;
    border-radius: 0.02em;
    box-shadow: inset 0 0 0 0.09em, 0.13em 0 0 0, 0.13em 0.13em 0 0, 0 0.13em 0 0;
    &:before {
        width: 0.08em;
        height: 0.08em;
        top: -0.04em;
        left: -0.04em;
        transform: rotate(45deg);
        box-shadow: inset 0 0 0 0.08em @front, 0.30em 0 0 0, 0.15em 0.15em 0 0, 0.15em -0.15em 0 0; 
    }
    &:after {
        width: 0.09em;
        height: 0.09em;
        top: -0.09em;
        left: 0;
        transform: rotate(45deg);
        box-shadow: inset 0 0 0 0.08em @back, 0 0.13em 0 0 @back, 0.09em -0.09em 0 0 @back, 0.22em -0.09em 0 0 @back, 0.31em 0 0 0 @back, 0.31em 0.13em 0 0 @back, 0.09em 0.22em 0 0 @back, 0.22em 0.22em 0 0 @back; 
    }
}

.icon-up {
    margin: 0.04em 0.04em;
    width: 0.28em;
    height: 0.28em;
    &:before {
        top: -0.13em;
        left: 0.01em;
        border: 0.13em solid;
        border-color: transparent transparent @front transparent;
    }
    &:after {
        top: 0.13em;
        left: 0.09em;
        width: 0.10em;
        height: 0.15em;
        box-shadow: inset 0 0 0 0.20em;
    }
}
.icon-down {
    margin: 0.04em 0.04em;
    width: 0.28em;
    height: 0.28em;
    &:before {
        top: 0.15em;
        left: 0.01em;
        border: 0.13em solid;
        border-color: @front transparent transparent transparent;
    }
    &:after {
        top: 0;
        left: 0.09em;
        width: 0.10em;
        height: 0.15em;
        box-shadow: inset 0 0 0 0.20em;
    }
}
.icon-left {
    margin: 0.04em 0.04em;
    width: 0.28em;
    height: 0.28em;
    &:before {
        top: 0.01em;
        left: -0.13em;
        border: 0.13em solid;
        border-color: transparent @front transparent transparent;
    }
    &:after {
        top: 0.09em;
        left: 0.13em;
        width: 0.15em;
        height: 0.10em;
        box-shadow: inset 0 0 0 0.20em;
    }
}
.icon-right {
    margin: 0.04em 0.04em;
    width: 0.28em;
    height: 0.28em;
    &:before {
        top: 0.01em;
        left: 0.15em;
        border: 0.13em solid;
        border-color: transparent transparent transparent @front;
    }
    &:after {
        top: 0.09em;
        left: 0;
        width: 0.15em;
        height: 0.10em;
        box-shadow: inset 0 0 0 0.20em;
    }
}

.icon-plus-o {
    margin: 0.04em 0.03em 0.03em 0.04em;
    width: 0.29em;
    height: 0.29em;
    border-radius: 50%;
    box-shadow: inset 0 0 0 0.28em;
    &:before, &:after {
        box-shadow: inset 0 0 0 0.13em @back;
    }
    &:before {
        width: 0.13em;
        height: 0.03em;
        top: 0.13em;
        left: 0.08em;
    }
    &:after {
        width: 0.03em;
        height: 0.13em;
        top: 0.08em;
        left: 0.13em;
    }
}
.icon-sub-o {
    margin: 0.04em 0.03em 0.03em 0.04em;
    width: 0.29em;
    height: 0.29em;
    border-radius: 50%;
    box-shadow: inset 0 0 0 0.28em;
    &:before, &:after {
        box-shadow: inset 0 0 0 0.13em @back;
    }
    &:before {
        width: 0.13em;
        height: 0.03em;
        top: 0.13em;
        left: 0.08em;
    }
}
.icon-x-o {
    margin: 0.04em 0.03em 0.03em 0.04em;
    width: 0.29em;
    height: 0.29em;
    border-radius: 50%;
    box-shadow: inset 0 0 0 0.28em;
    transform: rotate(45deg);
    &:before, &:after {
        box-shadow: inset 0 0 0 0.13em @back;
    }
    &:before {
        width: 0.13em;
        height: 0.03em;
        top: 0.13em;
        left: 0.08em;
    }
    &:after {
        width: 0.03em;
        height: 0.13em;
        top: 0.08em;
        left: 0.13em;
    }
}
.icon-correct-o {
    margin: 0.04em 0.03em 0.03em 0.04em;
    width: 0.29em;
    height: 0.29em;
    border-radius: 50%;
    box-shadow: inset 0 0 0 0.28em;
    transform: rotate(45deg);
    &:before, &:after {
        box-shadow: inset 0 0 0 0.13em @back;
    }
    &:before {
        width: 0.08em;
        height: 0.03em;
        top: 0.17em;
        left: 0.10em;
    }
    &:after {
        width: 0.03em;
        height: 0.13em;
        top: 0.07em;
        left: 0.15em;
    }
}
.icon-notice-o {
    margin: 0.04em 0.03em 0.03em 0.04em;
    width: 0.29em;
    height: 0.29em;
    border-radius: 50%;
    box-shadow: inset 0 0 0 0.28em;
    &:before, &:after {
        box-shadow: inset 0 0 0 0.13em @back;
    }
    &:before {
        width: 0.03em;
        height: 0.12em;
        top: 0.05em;
        left: 0.13em;
        border-radius: 0.02em;
    }
    &:after {
        width: 0.03em;
        height: 0.03em;
        top: 0.19em;
        left: 0.13em;
        border-radius: 50%;
    }
}

.icon-plus {
    margin: 0.04em;
    width: 0.28em;
    height: 0.28em;
    &:before, &:after {
        box-shadow: inset 0 0 0 0.13em @front;
    }
    &:before {
        width: 0.24em;
        height: 0.06em;
        top: 0.11em;
        left: 0.02em;
    }
    &:after {
        width: 0.06em;
        height: 0.24em;
        top: 0.02em;
        left: 0.11em;
    }
}
.icon-sub {
    margin: 0.04em;
    width: 0.28em;
    height: 0.28em;
    &:before, &:after {
        box-shadow: inset 0 0 0 0.13em @front;
    }
    &:before {
        width: 0.24em;
        height: 0.06em;
        top: 0.11em;
        left: 0.02em;
    }
}
.icon-x {
    margin: 0.04em;
    width: 0.28em;
    height: 0.28em;
    transform: rotate(45deg);
    &:before, &:after {
        box-shadow: inset 0 0 0 0.13em @front;
    }
    &:before {
        width: 0.24em;
        height: 0.06em;
        top: 0.11em;
        left: 0.02em;
    }
    &:after {
        width: 0.06em;
        height: 0.24em;
        top: 0.02em;
        left: 0.11em;
    }
}
.icon-correct {
    margin: 0.04em;
    width: 0.28em;
    height: 0.28em;
    transform: rotate(45deg);
    &:before, &:after {
        box-shadow: inset 0 0 0 0.13em @front;
    }
    &:before {
        width: 0.14em;
        height: 0.06em;
        top: 0.14em;
        left: 0.04em;
    }
    &:after {
        width: 0.06em;
        height: 0.24em;
        top: -0.04em;
        left: 0.14em;
    }
}
.icon-success-rec {
    margin: 0.06em 0.05em 0.05em 0.06em;
    width: 0.25em;
    height: 0.25em;
    box-shadow: inset 0 0 0 0.04em;
    &:before {
        transform: rotate(40deg);
        width: 0.06em;
        height: 0.16em;
        top: -0.02em;
        left: 0.17em;
        box-shadow: inset 0 0 0 0.16em, 0 0 0 0.02em @back;
    }
    &:after {
        transform: rotate(40deg);
        width: 0.11em;
        height: 0.06em;
        top: 0.09em;
        left: 0.06em;
        box-shadow: inset 0 0 0 0.16em;
    }
}

.icon-input-rec {
    margin: 0.06em 0.05em 0.05em 0.06em;
    width: 0.25em;
    height: 0.25em;
    box-shadow: inset 0 0 0 0.04em;
    &:before {
        transform: rotate(40deg);
        width: 0;
        height: 0;
        top: 0.11em;
        left: 0.07em;
        border-style: solid;
        border-width: 0.07em 0.03em;
        border-color: @front transparent transparent transparent;
        box-shadow: 0 -0.15em 0 0, -0.02em -0.16em 0 0 @back, 0.02em -0.16em 0 0 @back;
    }
    &:after {
        transform: rotate(40deg);
        width: 0.06em;
        height: 0.04em;
        top: -0.03em;
        left: 0.23em;
        box-shadow: inset 0 0 0 0.10em;
        border-radius: 50% 50% 0 0;
    }
}

.icon-404 {
    margin: 0.07em 0.06em 0.06em 0.07em;
    width: 0.19em;
    height: 0.19em;
    overflow: hidden;
    border: 0.02em solid @back;
    border-radius: 50%;
    box-shadow: 0 0 0 0.03em;
    &:before {
        top: 0.12em;
        left: 0.01em;
        width: 0.11em;
        height: 0.11em;
        border: 0.03em solid @front;
        border-radius: 50%;
    }
    &:after {
        top: 0.03em;
        left: 0.03em;
        width: 0.04em;
        height: 0.04em;
        border-radius: 50%;
        box-shadow: inset 0 0 0 0.03em, 0.09em 0 0 0;
    }
}

.icon-cart {
    margin: 0.08em 0.06em 0.16em;
    width: 0.18em;
    height: 0.06em;
    border: 0.03em solid @front;
    border-radius: 0.02em;
    &:before {
        top: -0.05em;
        left: -0.03em;
        width: 0.18em;
        height: 0.16em;
        border-left: 0.03em solid @front;
        border-bottom: 0.03em solid @front;
        border-radius: 0.01em;
        transform: skew(7deg);
    }
    &:after {
        top: 0.15em;
        left: 0;
        width: 0.05em;
        height: 0.05em;
        border-radius: 50%;
        box-shadow: inset 0 0 0 0.04em, 0.12em 0 0 0, -0.06em -0.22em 0
    }
}

.icon-ipad {
    margin: 0.03em 0.07em 0.04em 0.07em;
    width: 0.16em;
    height: 0.22em;
    border-radius: 0.02em;
    border: solid @front;
    border-width: 0.03em 0.03em 0.04em 0.03em;
    &:after {
        width: 0.02em;
        height: 0.02em;
        left: 0.07em;
        top: 0.23em;
        border-radius: 50%;
        box-shadow: inset 0 0 0 0.02em @back;
    }
}

.icon-mac {
    margin: 0.07em 0.05em 0.13em 0.06em;
    width: 0.25em;
    height: 0.16em;
    border-radius: 0.01em;
    box-shadow: 0 0 0 0.02em, 0 0.02em 0 0.02em;
    &:before {
        top: 0.21em;
        left: 0.06em;
        width: 0.07em;
        height: 0.03em;
        border-style: solid;
        border-width: 0 0.03em 0.02em 0.03em;
        border-color: transparent transparent @front transparent;
        box-shadow: inset 0 0 0 0.07em;
    }
}

.icon-phone {
    margin: 0.04em 0.09em 0.03em 0.09em;
    width: 0.14em;
    height: 0.20em;
    border-radius: 0.02em;
    border: solid @front;
    border-width: 0.05em 0.02em 0.04em 0.02em;
    &:before {
        width: 0.10em;
        height: 0.01em;
        border-radius: 0.01em;
        left: 0.02em;
        top: -0.03em;
        box-shadow: inset 0 0 0 0.10em @back;
    }
    &:after {
        width: 0.02em;
        height: 0.02em;
        border-radius: 50%;
        left: 0.06em;
        top: 0.21em;
        box-shadow: inset 0 0 0 0.02em @back;
    }
}

.icon-bad {
    margin: 0.06em 0.05em 0.14em 0.06em;
    width: 0.25em;
    height: 0.16em;
    box-shadow: inset 0 0 0 0.25em;
    border-radius: 0.02em;
    &:before {
        width: 0.03em;
        height: 0.02em;
        top: 0;
        left: 0.19em;
        box-shadow: inset 0 0 0 0.03em @back, 0 0.02em 0 0 @back, 0 0.04em 0 0 @back, 0 0.06em 0 0 @back, 0 0.08em 0 0 @back, 0 0.10em 0 0 @back, 0 0.12em 0 0 @back, 0 0.14em 0 0 @back, -0.19em 0.05em 0 0 @back, -0.16em 0.05em 0 0 @back, -0.19em 0.10em  0 0 @back, -0.16em 0.10em  0 0 @back;
    }
    &:after {
        top: 0.16em;
        left: 0.13em;
        width: 0.05em;
        height: 0.08em;
        border-radius: 0 0 0.02em 0.02em;
        box-shadow: inset 0 0 0 0.08em;
    }
}

.icon-good {
    margin: 0.14em 0.05em 0.06em 0.06em;
    width: 0.25em;
    height: 0.16em;
    box-shadow: inset 0 0 0 0.25em;
    border-radius: 0.02em;
    transform: rotate(180deg);
    &:before {
        width: 0.03em;
        height: 0.02em;
        top: 0;
        left: 0.19em;
        box-shadow: inset 0 0 0 0.03em @back, 0 0.02em 0 0 @back, 0 0.04em 0 0 @back, 0 0.06em 0 0 @back, 0 0.08em 0 0 @back, 0 0.10em 0 0 @back, 0 0.12em 0 0 @back, 0 0.14em 0 0 @back, -0.19em 0.05em 0 0 @back, -0.16em 0.05em 0 0 @back, -0.19em 0.10em  0 0 @back, -0.16em 0.10em  0 0 @back;
    }
    &:after {
        top: 0.16em;
        left: 0.13em;
        width: 0.05em;
        height: 0.08em;
        border-radius: 0 0 0.02em 0.02em;
        box-shadow: inset 0 0 0 0.08em;
    }
}

.icon-reply {
    margin: 0.07em 0.06em 0.10em 0.07em;
    width: 0.23em;
    height: 0.19em;
    border-radius: 50%;
    box-shadow: inset 0 0 0 0.23em;
    &:before {
        top: 0.08em;
        left: 0.10em;
        width: 0.03em;
        height: 0.03em;
        border-radius: 50%;
        box-shadow: inset 0 0 0 0.03em @back, -0.06em 0 0 0 @back, 0.06em 0 0 0 @back;
    }
    &:after {
        left: 0.11em;
        top: 0.18em;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 0.04em 0.05em;
        border-color: transparent transparent transparent @front;
    }
}

.icon-discuss {
    margin: 0.07em 0.05em 0.11em;
    width: 0.26em;
    height: 0.18em;
    border-radius: 0.02em;
    box-shadow: inset 0 0 0 0.26em;
    &:before {
        width: 0.02em;
        height: 0.02em;
        border-radius: 50%;
        left: 0.05em;
        top: 0.08em;
        box-shadow: inset 0 0 0 0.02em @back, 0.05em 0 0 0 @back, 0.10em 0 0 0 @back, 0.15em 0 0 0 @back;
    }
    &:after {
        left: 0.07em;
        top: 0.18em;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 0.06em 0.06em;
        border-color: transparent transparent transparent @front;
    }
}

.icon-eye {
    margin: 0.08em 0.01em -0.12em 0.02em;
    width: 0.33em;
    height: 0.40em;
    overflow: hidden;
    border-radius: 50%;
    &:before {
        top: -0.21em;
        width: 0.33em;
        height: 0.40em;
        border-radius: 50%;
        box-shadow: inset 0 0 0 0.40em;
    }
    &:after {
        top: 0.05em;
        left: 0.12em;
        width: 0.05em;
        height: 0.05em;
        border: 0.02em solid @back;
        border-radius: 50%;
    }
}

.icon-arrow-up {
    margin: 0.14em 0.08em 0.02em 0.08em;
    width: 0.18em;
    height: 0.18em;
    border-top: 0.02em solid @front;
    border-left: 0.02em solid @front;
    transform: rotate(45deg);
}

.icon-arrow-down {
    margin: 0.02em 0.08em 0.14em 0.08em;
    width: 0.18em;
    height: 0.18em;
    border-top: 0.02em solid @front;
    border-left: 0.02em solid @front;
    transform: rotate(-135deg);
}

.icon-arrow-left {
    margin: 0.08em 0.02em 0.08em 0.14em;
    width: 0.18em;
    height: 0.18em;
    border-top: 0.02em solid @front;
    border-left: 0.02em solid @front;
    transform: rotate(-45deg);
}

.icon-arrow-right {
    margin: 0.08em 0.14em 0.08em 0.02em;
    width: 0.18em;
    height: 0.18em;
    border-top: 0.02em solid @front;
    border-left: 0.02em solid @front;
    transform: rotate(135deg);
}

.icon-upload {
    margin: 0.19em 0.04em 0.06em 0.04em;
    width: 0.20em;
    height: 0.07em;
    border: solid @front;
    border-width: 0 0.04em 0.04em 0.04em;
    &:before {
        left: 0.08em;
        top: -0.07em;
        width: 0.04em;
        height: 0.11em;
        box-shadow: inset 0 0 0 0.11em;
    }
    &:after {
        left: 0.02em;
        top: -0.14em;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0.08em 0.08em 0.08em;
        border-color: transparent transparent @front transparent;
    }
}

.icon-download {
    margin: 0.19em 0.04em 0.06em 0.04em;
    width: 0.20em;
    height: 0.07em;
    border: solid @front;
    border-width: 0 0.04em 0.04em 0.04em;
    &:before {
        left: 0.08em;
        top: -0.14em;
        width: 0.04em;
        height: 0.11em;
        box-shadow: inset 0 0 0 0.11em;
    }
    &:after {
        left: 0.02em;
        top: -0.04em;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0.08em 0.08em 0 0.08em;
        border-color: @front transparent transparent transparent;
    }
}

.icon-search {
    margin: 0.05em;
    width: 0.26em;
    height: 0.26em;
    border-radius: 0.02em;
    box-shadow: 0 0 0 0.01em;
    &:before {
        top: 0.05em;
        left: 0.06em;
        width: 0.10em;
        height: 0.10em;
        border: 0.02em solid @front;
        border-radius: 50%;
    }
    &:after {
        top: 0.16em;
        left: 0.17em;
        width: 0.03em;
        height: 0.06em;
        border-radius: 0.02em;
        transform: rotate(-40deg);
        box-shadow: inset 0 0 0 0.07em;
    }
}

.icon-output {
    margin: 0.04em 0.07em;
    width: 0.18em;
    height: 0.24em;
    border: 0.02em solid;
    border-radius: 0.03em;
    &:before {
        top: 0.10em;
        width: 0.09em;
        height: 0.04em;
        box-shadow: inset 0 0 0 0.10em;
    }
    &:after {
        top: 0.08em;
        left: 0.08em;
        width: 0;
        height: 0;
        border-style: solid;
        border-color: transparent transparent transparent @front;
        border-width: 0.04em 0.06em;
    }
}

.icon-doc {
    margin: 0.04em 0.07em;
    width: 0.22em;
    height: 0.28em;
    overflow: hidden;
    box-shadow: inset 0 0 0 0.28em;
    &:before {
        width: 0;
        height: 0;
        top: -0.01em;
        left: 0.15em;
        border-style: solid;
        border-width: 0.03em 0.04em;
        border-color: @back @back @front @front;
        box-shadow: 0 0 0 0.01em @back;
    }
    &:after {
        width: 0.12em;
        height: 0.01em;
        left: 0.05em;
        top: 0.08em;
        box-shadow: inset 0 0 0 0.12em @back, 0 0.04em 0 0 @back, 0 0.08em 0 0 @back, 0 0.12em 0 0 @back;
    }
}

.icon-delete {
    margin: 0.16em 0.16em 0.08em;
    width: 0.04em;
    height: 0.12em;
    box-shadow: inset 0 0 0 @back, -0.07em 0 0 0 @back, 0.07em 0 0 0 @back, 0 0 0 0.03em, -0.06em 0 0 0.03em, 0.06em 0 0 0.03em;
    &:before {
        top: -0.08em;
        left: -0.11em;
        width: 0.26em;
        height: 0.02em;
        border-radius: 0.04em;
        box-shadow: inset 0 0 0.26em, 0 0.04em 0 0.01em;
    }
    &:after {
        top: -0.11em;
        left: -0.09em;
        width: 0.20em;
        height: 0.01em;
        border-style: solid;
        border-width: 0 0.01em 0.02em 0.01em;
        border-color: transparent transparent @front transparent;
        box-shadow: inset 0.07em 0 0 -0.01em @back, inset -0.07em 0 0 -0.01em @back, inset 0 0 0 0.20em;
    }
}

.icon-card {
    margin: 0.08em 0.04em;
    width: 0.28em;
    height: 0.20em;
    border-radius: 0.02em;
    box-shadow: inset 0 0 0 0.28em;
    &:before {
        width: 0.04em;
        height: 0.04em;
        left: 0.22em;
        top: 0.03em;
        box-shadow: inset 0 0 0 0.04em @back;
    }
    &:after {
        width: 0.14em;
        height: 0.02em;
        left: 0.07em;
        top: 0.09em;
        box-shadow: inset 0 0 0 0.14em @back, 0 0.05em 0 0 @back;
    }
}

.icon-calculator {
    margin: 0.04em 0.07em;
    width: 0.22em;
    height: 0.28em;
    border-radius: 0.02em;
    box-shadow: inset 0 0 0 0.28em;
    &:before {
        content:'7' !important;
        font-size: 0.12em;
        color: @front;
        line-height: 0.10em;
        text-align: center;
        width: 0.16em;
        height: 0.10em;
        left: 0.03em;
        top: 0.02em;
        background: @back;
    }
    &:after {
        width: 0.04em;
        height: 0.04em;
        border-radius: 0.01em;
        top: 0.15em;
        left: 0.03em;
        box-shadow: inset 0 0 0 0.04em @back, 0.06em 0 0 0 @back, 0.12em 0 0 0 @back, 0 0.06em 0 0 @back, 0.06em 0.06em 0 0 @back, 0.12em 0.06em 0 0 @back;
    }
}

.icon-task {
    margin: 0.25em 0.10em 0.10em 0.10em;
    width: 0.16em;
    height: 0.01em;
    box-shadow: inset -0.10em 0 0 -0.01em, inset 0 0 0 0.16em @back, 0.07em -0.05em 0 0, 0 -0.05em 0 0 @back, 0 -0.10em 0 0 @back, 0 -0.14em 0 0 @back, 0 -0.15em 0 0 @back, 0 -0.05em 0 0.03em, 0 0.02em 0 0.03em, 0 -0.12em 0 0.03em, 0 -0.17em 0 0.03em;
    &:before {
        top: -0.05em;
        left: 0.12em;
        width: 0.12em;
        height: 0.12em;
        border-radius: 50%;
        box-shadow: inset 0 0 0 0.12em, 0 0 0 0.02em @back;
    }
    &:after {
        top: -0.01em;
        left: 0.14em;
        width: 0.06em;
        height: 0.02em;
        border-radius: 0.02em;
        border-bottom: 0.02em solid @back;
        border-left: 0.02em solid @back;
        transform: rotate(-40deg);
    }
}

.icon-lock {
    margin: 0.08em 0.14em 0.19em 0.15em;
    width: 0.07em;
    height: 0.09em;
    border-top-left-radius: 50% 0.02em;
    border-top-right-radius: 50% 0.02em;
    box-shadow: 0 0 0 0.04em;
    &:before {
        top: 0.09em;
        left: -0.08em;
        width: 0.23em;
        height: 0.15em;
        border-radius: ~"0.03em / 0.02em 0.02em 0.03em 0.03em";
        box-shadow: inset 0 0 0 0.23em;
    }
    &:after {
        top: 0.18em;
        left: 0.02em;
        width: 0.03em;
        height: 0.03em;
        border-radius: 0.03em;
        box-shadow: inset 0 0 0 0.05em @back, 0 -0.04em 0 0.02em @back;
    }
}

.icon-unlock {
    margin: 0.08em 0.14em 0.19em 0.15em;
    width: 0.07em;
    height: 0.09em;
    border-top-left-radius: 50% 0.02em;
    border-top-right-radius: 50% 0.02em;
    box-shadow: 0 0 0 0.04em;
    &:before {
        top: 0.09em;
        left: -0.08em;
        width: 0.23em;
        height: 0.15em;
        border-radius: ~"0.03em / 0.02em 0.02em 0.03em 0.03em";
        box-shadow: inset 0 0 0 0.23em, -0.10em -0.03em 0 0 @back;
    }
    &:after {
        top: 0.18em;
        left: 0.02em;
        width: 0.03em;
        height: 0.03em;
        border-radius: 0.03em;
        box-shadow: inset 0 0 0 0.05em @back, 0 -0.04em 0 0.02em @back;
    }
}

.icon-openlock {
    margin: 0.08em 0.03em 0.19em 0.26em;
    width: 0.07em;
    height: 0.09em;
    border-top-left-radius: 50% 0.02em;
    border-top-right-radius: 50% 0.02em;
    box-shadow: 0 0 0 0.04em;
    &:before {
        top: 0.09em;
        left: -0.19em;
        width: 0.23em;
        height: 0.15em;
        border-radius: ~"0.03em / 0.02em 0.02em 0.03em 0.03em";
        box-shadow: inset 0 0 0 0.23em, 0.20em -0.02em 0 0 @back;
    }
    &:after {
        top: 0.18em;
        left: -0.09em;
        width: 0.03em;
        height: 0.03em;
        border-radius: 0.03em;
        box-shadow: inset 0 0 0 0.05em @back, 0 -0.04em 0 0.02em @back;
    }
}

.icon-clock {
    margin: 0.04em 0.03em 0.03em 0.04em;
    width: 0.21em;
    height: 0.21em;
    border-radius: 50%;
    border: 0.04em solid @front;
    &:before {
        width: 0.03em;
        height: 0.10em;
        left: 0.10em;
        top: 0.03em;
        border-radius: 0.02em;
        box-shadow: inset 0 0 0 0.10em;
    }
    &:after {
        width: 0.08em;
        height: 0.03em;
        left: 0.05em;
        top: 0.10em;
        border-radius: 0.02em;
        box-shadow: inset 0 0 0 0.10em;
    }
}

.icon-move {
    margin: 0.05em 0.06em 0.07em 0.06em;
    width: 0.24em;
    height: 0.24em;
    border-radius: 0.03em;
    box-shadow: inset 0 0 0 0.24em, 0.02em 0.03em 0 0;
    &:before {
        left: 0.12em;
        top: 0.07em;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0.06em 0.07em;
        border-color: transparent transparent transparent @back;
    }
    &:after {
        left: 0.22em;
        top: 0.24em;
        width: 0.02em;
        height: 0.02em;
        box-shadow: inset 0 0 0 0.02em @back,
            -0.02em 0 0 0 @back,
            -0.04em 0 0 0 @back,
            -0.06em 0 0 0 @back,
            -0.08em 0 0 0 @back,
            -0.10em 0 0 0 @back,
            -0.12em 0 0 0 @back,
            -0.14em 0 0 0 @back,
            -0.16em 0 0 0 @back,
            -0.18em 0 0 0 @back,
            -0.19em 0 0 0 @back,
            0 -0.02em 0 0 @back,
            0 -0.04em 0 0 @back,
            0 -0.06em 0 0 @back,
            0 -0.08em 0 0 @back,
            0 -0.10em 0 0 @back,
            0 -0.12em 0 0 @back,
            0 -0.14em 0 0 @back,
            0 -0.16em 0 0 @back,
            0 -0.18em 0 0 @back,
            0 -0.19em 0 0 @back,
            -0.12em -0.12em 0 0 @back,
            -0.14em -0.12em 0 0 @back,
            -0.16em -0.12em 0 0 @back,
            -0.17em -0.12em 0 0 @back;
    }
}

.icon-re {
    margin: 0.05em;
    width: 0.18em;
    height: 0.18em;
    border-radius: 50%;
    border: 0.04em solid @front;
    &:after {
        top: -0.05em;
        left: 0.09em;
        border: 0.06em solid;
        border-color: transparent @front @front transparent;
    }
    &:before {
        top: 0.02em;
        left: 0.09em;
        width: 0.15em;
        height: 0.10em;
        box-shadow: inset 0 0 0 0.12em @back;
    }
}

.icon-folder {
    margin: 0.08em 0.05em 0.01em 0.06em;
    width: 0.23em;
    height: 0.17em;
    border-style: solid;
    border-width: 0.05em 0.01em;
    border-color: @front transparent transparent transparent;
    &:before {
        top: 0.02em;
        left: -0.03em;
        width: 0.17em;
        height: 0;
        border-style: solid;
        border-width: 0.16em 0.06em;
        border-color: @front transparent transparent transparent;
    }
    &:after {
        top: -0.06em;
        left: 0.11em;
        width: 0.20em;
        height: 0.02em;
        box-shadow: inset 0 0 0 0.20em @back;
    }
}

.icon-blocks {
    margin: 0.04em 0.20em 0.20em 0.04em;
    width: 0.12em;
    height: 0.12em;
    box-shadow: inset 0 0 0 0.12em, 0.16em 0 0 0, 0 0.16em 0 0, 0.16em 0.16em 0 0;
}

.icon-list {
    margin: 0.04em 0.25em 0.25em 0.04em;
    width: 0.07em;
    height: 0.07em;
    box-shadow: inset 0 0 0 0.07em, 0 0.10em 0 0, 0 0.20em 0 0;
    &:before {
        top: 0;
        left: 0.10em;
        width: 0.18em;
        height: 0.02em;
        box-shadow: inset 0 0 0 0.18em, 0 0.05em 0 0, 0 0.10em 0 0, 0 0.15em 0 0, 0 0.20em 0 0, 0 0.25em 0 0;
    }
}

.icon-doc2 {
    margin: 0.04em;
    width: 0.28em;
    height: 0.28em;
    overflow: hidden;
    box-shadow: inset 0 0 0 0.28em;
    &:before {
        top: 0.07em;
        left: 0.05em;
        width: 0.18em;
        height: 0.04em;
        box-shadow: inset 0 0 0 0.18em @back, 0 0.06em 0 0 @back, 0 0.12em 0 0 @back;
    }
    &:after {
        top: 0;
        left: 0.20em;
        border: 0.04em solid;
        border-color: @back @back @front @front;
        box-shadow: 0 0 0 0.01em @back, 0 0 0 0.03em @front;
    }
}

.icon-user {
    margin: -0.06em 0.04em 0.04em;
    width: 0.20em;
    height: 0.20em;
    overflow: hidden;
    border-style: solid;
    border-width: 0.09em 0.04em;
    border-color: transparent transparent @front transparent;
    &:before {
        left: -0.10em;
        top: 0.17em;
        width: 0.40em;
        height: 0.40em;
        border-radius: 50%;
        box-shadow: inset 0 0 0 0.40em;
    }
    &:after {
        top: 0.02em;
        left: 0.03em;
        width: 0.14em;
        height: 0.14em;
        border-radius: 50%;
        box-shadow: inset 0 0 0 0.14em;
    }
}

.icon-list2 {
    margin: 0.09em 0.26em 0.24em 0.06em;
    width: 0.04em;
    height: 0.03em;
    box-shadow: inset 0 0 0 0.04em, 0 0.07em 0 0, 0 0.14em 0 0;
    &:before {
        left: 0.07em;
        top: 0;
        width: 0.17em;
        height: 0.03em;
        box-shadow: inset 0 0 0 0.17em, 0 0.07em 0 0, 0 0.14em 0 0;
    }
}

.icon-search2 {
    margin: 0.07em 0.06em 0.06em 0.07em;
    width: 0.17em;
    height: 0.17em;
    border-radius: 50%;
    border: 0.03em solid @front;
    &:before {
        top: 0.14em;
        left: 0.15em;
        width: 0.05em;
        height: 0.12em;
        border-radius: 0.02em;
        transform: rotate(-40deg);
        box-shadow: inset 0 0 0 0.12em;
    }
}

.icon-ticket {
    margin: 0.08em 0.04em 0.09em 0.04em;
    width: 0.28em;
    height: 0.19em;
    border-radius: 0.02em;
    box-shadow: inset 0 0 0 0.28em;
    &:before {
        top: 0.03em;
        left: 0.07em;
        width: 0.14em;
        height: 0.03em;
        border-radius: 0.02em;
        box-shadow: inset 0 0 0 0.14em @back, 0 0.05em 0 0 @back, 0 0.10em 0 0 @back;
    }
    &:after {
        top: 0.07em;
        left: -0.03em;
        width: 0.05em;
        height: 0.05em;
        border-radius: 50%;
        box-shadow: inset 0 0 0 0.05em @back, 0.29em 0 0 0 @back;
    }
}