@charset "utf-8";
@front: #333;
@back: #fff;

.icon {
    display: inline-block;
    position: relative;
    color: @front;
    &:before, &:after {
        position: absolute;
        content: '';
    } 
}

